.document {
    width: 755px;
}

.title {
    text-align: center;
}

.subtitle {
    text-align: center;
}

.reference, .toc-backref {
    text-decoration: none;
    color: #942;
}

.reference:hover, .toc-backref:hover {
    color: #294;
}

tt.docutils {
    color: #237;
    font-size: 100%;
}
